// CSS variables
// Define names:
// For AAA: https://www.color-blindness.com/color-name-hue/
// For AA: https://chir.ag/projects/name-that-color/
// ------------------------------------------------------
:root {
  // Brand color pool
  --color-black: #000;

  --color-puce: #d88c9aff;
  --color-light-orange: #f2d0a9ff;
  --color-almond: #f1e3d3ff;
  --color-cambridge-blue: #99c1b9ff;
  --color-tropical-indigo: #8e7dbeff;
  --color-tropical-indigo-darker: rgb(98, 86, 131);

  // Main element colors
  --color-main: var(--color-puce);
  --color-heading: var(--color-main);
  --color-paragraph: var(--color-black);

  // Modern link
  --color-link-text: var(--color-tropical-indigo);
  --color-link-text-hover: var(--color-tropical-indigo-darker);

  // Element states
  --color-error: #cc2e2e;
  --color-success: #21aa14;
}
